<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="vm_rtl.html" id="activate_checkout" class="stc-forms checkout-form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
								    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
								    	Data
								    	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
								    	<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
								    </a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body">
					                <div class="form-group">
				                        <div class="title-group">
				                            <label for="text_input">Input</label>
				                            <!-- Info -->
				                            <span class="title-info" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam">
				                                <img src="images/icons/info.svg" alt="">
				                            </span>
				                        </div>
					                    <input type="text" value="predefined data" class="form-control" placeholder="Input">
					                </div>
					                <div class="form-group">
					                    <label for="text_input2">Input 2</label>
					                    <input type="text" value="predefined data" class="form-control" placeholder="Input 2">
					                </div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
										Data
								    	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
								    	<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
									</a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body">
					                <div class="form-group">
				                        <div class="title-group">
				                            <label for="text_input">Input</label>
				                            <!-- Info -->
				                            <span class="title-info" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam">
				                                <img src="images/icons/info.svg" alt="">
				                            </span>
				                        </div>
					                    <input type="text" class="form-control" id="text_input" placeholder="Input">
					                </div>
					                <div class="form-group">
					                    <label for="text_input2">Input 2</label>
					                    <input type="text" class="form-control" id="text_input2" placeholder="Input 2">
					                </div>
								</div>
							</div>
						</div>
					</div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary pull-right cart-checkout" disabled>Checkout</button>
                    <a href="#" class="btn btn-primary pull-right cart-add">Add to Cart</a>
                </div>
            </form>
        </div>
    </div>
</div>
