<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="vm.html" id="activate_checkout">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
								    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								    	Data
								    </a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body">
					                <div class="form-group">
					                    <label for="text_input">Input</label>
					                    <input type="text" value="predefined data" class="form-control" placeholder="Input">
					                </div>
					                <div class="form-group">
					                    <label for="text_input2">Input 2</label>
					                    <input type="text" value="predefined data" class="form-control" placeholder="Input 2">
					                </div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
										Data
									</a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body">
					                <div class="form-group">
					                    <label for="text_input">Input</label>
					                    <input type="text" class="form-control" id="text_input" placeholder="Input">
					                </div>
					                <div class="form-group">
					                    <label for="text_input2">Input 2</label>
					                    <input type="text" class="form-control" id="text_input2" placeholder="Input 2">
					                </div>
								</div>
							</div>
						</div>
					</div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary pull-right cart-checkout" disabled>Checkout</button>
                    <a href="cart.html" class="btn btn-primary pull-right cart-add">Add to Cart</a>
                </div>
            </form>
        </div>
    </div>
</div>
