<section class="slider">
	<div class="slider-carousel owl-carousel">

			<div>
				<img class="big" src="images/Wi-Fi.png" alt="">
				<div class="data">
		    		<a href="#video_wifi" data-lity></a>
				</div>
			</div>

			<div>
				<img class="big" src="images/Jabber.png" alt="">
				<div class="data">
		    		<a href="#video_jabber" data-lity></a>
				</div>
			</div>

			<div>
				<img class="big" src="images/Meeting_Room_&_Booking_system.png" alt="">
				<div class="data">
		    		<a href="#video_meeting_room" data-lity></a>
				</div>
			</div>

			<div>
				<img class="big" src="images/IT_Security_Services.png" alt="">
				<div class="data">
		    		<a href="#video_security" data-lity></a>
				</div>
			</div>

			<div>
				<img class="big" src="images/Unified_Communication_Services.png" alt="">
				<div class="data">
		    		<a href="#video_presentation" data-lity></a>
				</div>
			</div>

	</div>
</section>

<div id="video_wifi" style="background:#fff" class="lity-hide">
	<video width="600" height="338" controls>
		<source src="images/videos/wifi.mp4" type="video/mp4">
		Your browser does not support the video tag.
	</video>
</div>
<div id="video_jabber" style="background:#fff" class="lity-hide">
	<video width="600" height="338" controls>
		<source src="images/videos/jabber.mp4" type="video/mp4">
		Your browser does not support the video tag.
	</video>
</div>
<div id="video_meeting_room" style="background:#fff" class="lity-hide">
	<video width="600" height="338" controls>
		<source src="images/videos/meeting_room.mp4" type="video/mp4">
		Your browser does not support the video tag.
	</video>
</div>
<div id="video_security" style="background:#fff" class="lity-hide">
	<video width="600" height="338" controls>
		<source src="images/videos/security.mp4" type="video/mp4">
		Your browser does not support the video tag.
	</video>
</div>
<div id="video_security" style="background:#fff" class="lity-hide">
	<video width="600" height="338" controls>
		<source src="images/videos/presentation.mp4" type="video/mp4">
		Your browser does not support the video tag.
	</video>
</div>
