<!-- Extend Layout -->
{% extends "layouts/default.html" %}

<!-- Page Content -->
{% block content %}

<!-- Breadcrumb -->
<div class="container">
    <ol class="breadcrumb">
        <li>
            <a href="index.html"><img src="images/bc_home.png" alt=""></a>
        </li>
        <li class="active">My Cart</li>
    </ol>
</div>

<!-- Container -->
<div class="container">
    <div class="full-width cart-page clearfix">
        
        <!-- Title -->
        <h1>My Cart</h1>
        
        <!-- Item -->
        <div class="alert cart-item fade in clearfix">
            <div class="title">
                <h2>Windows 2012 R2 VM</h2>
                <small>Windows 2012 R2 VM Server Single Machine</small>
            </div>
            <a href="#" class="details"><img src="images/arrow_down.png" alt=""> Detalis</a>
            <div class="controls">
                <div class="add-to-cart">
                    <button type="button" class="add">+</button>
                    <input class="number-of-items" type="text" value="3">
                    <button type="button" class="remove">-</button>
                </div>
                <a href="request-details.html" class="btn btn-default btn-details">Request details</a>
                <button type="button" class="trash" data-dismiss="alert" aria-label="Close">
                    <img src="images/icons/delete.svg" alt="">
                </button>
            </div>
        </div>
        <!-- Item -->

        <!-- Item -->
        <div class="alert cart-item fade in clearfix">
            <div class="title">
                <h2>Windows 2012 R2 VM</h2>
                <small>Windows 2012 R2 VM Server Single Machine</small>
            </div>
            <a href="#" class="details"><img src="images/arrow_down.png" alt=""> Detalis</a>
            <div class="controls">
                <div class="add-to-cart">
                    <button type="button" class="add">+</button>
                    <input class="number-of-items" type="text" value="3">
                    <button type="button" class="remove">-</button>
                </div>
                <a href="request-details.html" class="btn btn-default btn-details incomplete">Request details</a>
                <button type="button" class="trash" data-dismiss="alert" aria-label="Close">
                    <img src="images/icons/delete.svg" alt="">
                </button>
            </div>
        </div>
        <!-- Item -->
        
        <!-- Checkout -->
        <a href="vm.html" class="btn btn-primary btn-checkout pull-right">Checkout</a>

    </div>
</div>

{% endblock %}
<!-- End Page Content -->
