<!-- Extend Layout -->
{% extends "layouts/default.html" %}

<!-- Page Content -->
{% block content %}

<!-- Breadcrumb -->
<div class="container">
    <ol class="breadcrumb">
        <li>
            <a href="index.html"><img src="images/bc_home.png" alt=""></a>
        </li>
        <li><a href="categories.html">Categories</a></li>
        <li class="active">Sub Category</li>
    </ol>
</div>

<!-- Slider -->
{% include "partials/slider.html" %}

<!-- Contenet -->
<div id="container-wrapper" class="container">

    <!-- Categories -->
    <div class="categories categories-list">
        <div class="title">Sub Category</div>
        <div class="row">
            {% for n in [{img:'iaas', title:'IaaS'}, {img:'pass', title:'Pass'}, {img:'baas', title:'BaaS'}, {img:'addon', title:'Addons'}, {img:'pass', title:'Pass'}, {img:'baas', title:'BaaS'}, {img:'addon', title:'Addons'}, {img:'pass', title:'Pass'}] %}
                <div class="col-xs-6 col-sm-4 col-md-5ths">
                    <div class="block border-primary category-box">
                        <div class="title-blcok">
                            <div class="img">
                                <a href="category.html"><img src="images/icons/{{ n.img }}.svg" alt=""></a>
                            </div>
                            <h4><a href="category.html">{{ n.title }}</a></h4>
                        </div>
                        <div class="block-body">
                            <p>Infrastructure as a Service</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- End Categories -->

</div>

{% endblock %}
<!-- End Page Content -->
